.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 30px;
    height: 60px;
    background-color: gray;
    margin: 5px;
}

._2box {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
}